<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Resultat - Diplome search engine</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ asset('vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="{{ asset('vendor/magnific-popup/magnific-popup.css') }}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{{ asset('css/freelancer.min.css') }}" rel="stylesheet">

</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">RESULTAT</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Formations</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">Diplômes</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Notes</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ path('app_default_index') }}">Nouvel recherche</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header class="masthead bg-primary text-white text-center">
    <div class="container">
        {% if results is empty %}
            <h2 class="font-weight-light mb-0">Aucun resultat trouvé</h2>
        {% else %}
            <img class="img-fluid mb-5 d-block mx-auto" src="{{ asset('uploads/etudiant/'~ results[0]["idInscription"]['etudiant']['photos']) }}" alt="">
            <h1 class="text-uppercase mb-0">{{ results[0]["idInscription"]["etudiant"]["nom"] ~" "~ results[0]["idInscription"]["etudiant"]["prenom"]}} </h1>
            <hr class="star-light">
        {% endif %}
    </div>
</header>

<!-- Portfolio Grid Section -->
<section class="portfolio" id="portfolio">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Formations</h2>
        <hr class="star-dark mb-5">
        <div class="row">
            {% if inscription is empty %}
                <h2 class="font-weight-light mb-0">Aucun resultat trouvé</h2>
            {% else %}
                {% for inscr in inscription %}
                    <div class="col-md-6 col-lg-4">
                        <div class="card bg-light mb-3" style="max-width: 18rem;">
                            <div class="card-header">
                                {{ inscr["Etablissement"]["sigle"] }} / {{ inscr["Etablissement"]["adresse"] }}
                            </div>
                            <div class="card-body">

                                <h5 class="card-title">{{ inscr["Formation"]["libelle"] }}</h5>
                                <p class="card-text">
                                    Année : {{ inscr["AnneeScolaire"]["dateDebut"]|date("M/Y") }} au {{ inscr["AnneeScolaire"]["dateFin"]|date("M/Y") }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>

<!-- About Section -->
<section class="bg-primary text-white mb-0" id="about">
    <div class="container">
        <h2 class="text-center text-uppercase text-white">Diplomes obtenus</h2>
        <hr class="star-light mb-5">
        <div class="row">
            {% if results is empty %}
                <h2 class="font-weight-light mb-0">Aucun resultat trouvé</h2>
            {% else %}
                {% for result in results %}
                    <div class="col-lg-4 ml-auto">
                        <p>
                            Date obtention : {{ result["dateObtention"] | date("M/d/Y") }}
                        </p>
                        <p>
                            Mention : {{ result ["mention"] }}
                        </p>

                        <p>
                            Formation : {{ result["idInscription"]["Formation"]["libelle"] }}
                        </p>
                    </div>
                {% endfor %}
                <div class="text-center mt-4">
                    <a class="btn btn-xl btn-outline-light" href="#">
                        <i class="fa fa-download mr-2"></i>
                        Telécharger le CV
                    </a>
                </div>
            {% endif %}

        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Remarque</h2>
        <hr class="star-dark mb-5">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                <form name="sentMessage" id="contactForm" novalidate="novalidate">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Nom</label>
                            <input class="form-control" id="name" name="nom" type="text" placeholder="Name" required="required" data-validation-required-message="Votre nom s'il vous plait">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Adresse email</label>
                            <input class="form-control" id="email" type="email" name="email" placeholder="Email Address" required="required" data-validation-required-message="Votre adresse email">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Message</label>
                            <textarea class="form-control" id="message" name="message" rows="5" placeholder="Message" required="required" data-validation-required-message="Mettez ici le contenu de votre message"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-xl" value="Envoyer" id="sendMessageButton"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Geek inside</h4>
                <p class="lead mb-0">Adresse / Appartement
                    <br>(+261) 34 97 889 05 / (+261) 34 20 772 92</p>
            </div>
            <div class="col-md-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Suivez-nous sur nos réseaux</h4>
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                            <i class="fa fa-fw fa-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                            <i class="fa fa-fw fa-google-plus"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                            <i class="fa fa-fw fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                            <i class="fa fa-fw fa-linkedin"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                            <i class="fa fa-fw fa-dribbble"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5 class="text-uppercase mb-4">Degree search engine</h5>
            </div>
        </div>
    </div>
</footer>

<div class="copyright py-4 text-center text-white">
    <div class="container">
        <small>Copyright &copy; Safe 2018</small>
    </div>
</div>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<!-- Bootstrap core JavaScript -->
<script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ asset('vendor/jquery-easing/jquery.easing.min.js') }}"></script>
<script src="{{ asset('vendor/magnific-popup/jquery.magnific-popup.min.js') }}"></script>

<!-- Contact Form JavaScript -->
<script src="{{ asset('js/jqBootstrapValidation.js') }}"></script>
<script src="{{ asset('js/contact_me.js') }}"></script>

<!-- Custom scripts for this template -->
<script src="{{ asset('js/freelancer.min.js') }}"></script>
<script>
    $(function(){
        $("#sendMessageButton").click(function (e) {
            e.preventDefault();
            //$(this).val("Envoi en cours...");
            $(this).attr("disabled", true);
            var url = "{{ path('send_message')}}";
            var query = $("#contactForm").serialize();

            $.ajax({
                url: url,
                type: "POST",
                data: query,
                success: function(result){
                   $(this).val("Message envoyé");
                }
            });
        });
    });
</script>
</body>

</html>